@import '_vars.scss';

:root {
    font-size:   16px;
    font-family: Open Sans, Helvetica, sans-serif;
}

html {
    height:  100%;
    padding: 0;
    margin:  0;
}

body {
    min-height:  100%;
    padding:     0;
    margin:      0;
    background:  $color-light-blue;
    font-family: Open Sans, Helvetica, sans-serif;
}

header {
    nav.navbar {
        a.navbar-brand {
            img {
                display:    block;
                max-height: 2.5rem;
                max-width:  10rem;
                width:      auto;
                height:     auto;
            }
        }
    }
}

.page-wrapper {
    min-height: 30rem;
    padding:    3rem 0;
}
